.header {
    height: 95vh; /*Shows almost 100 % of content*/
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%); /*Very Important Property */

    
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem; 
    }
    
    &__logo {
        height: 3.5rem; /* width will be figured out by browser */
    }

    &__text-box {
        position: absolute;
        top: 40%;/*if  50% looks more down so we made it 40%*/
        left: 50%;
        transform: translate(-50%, -50%); /*In relation to the element itself*/
        /*X(-50%):Will be shifted half of width to left*/ 
        /*Y(-50%):Will be shifted half of height to top*/ 

        text-align: center;
    }

}       
